################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Khusi.Sales.Implementation/Crm.Sales.Plugins/obj/Debug
