################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Khusi.Sales.Implementation/Crm.Sales.Plugins/obj/Debug
/Khusi.Sales.Implementation/Crm.Sales.Webresources/obj/Debug
/Khusi.Sales.Implementation/.vs/Khusi.Sales.Implementation/v16
